<div fxLayout="column">

  <mat-card>
    <form #f="ngForm" (ngSubmit)="createNewService()">

      <mat-form-field>
        <input matInput placeholder="Name"
               name="name" [(ngModel)]="entity.name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone"
               name="phone" [(ngModel)]="entity.phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Website"
               name="website" [(ngModel)]="entity.website">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address"
               name="address" [(ngModel)]="entity.address">

      </mat-form-field>
      <a mat-button>Verify Address</a>


      <mat-form-field>
        <mat-select placeholder="Service"
                    name="entityType" [(ngModel)]="entity.serviceType">
          <mat-option *ngFor="let option of serviceTypes"
                      [value]="option.value">
            {{ option.title }}
          </mat-option>
        </mat-select>

      </mat-form-field>


      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>

      <div fxLayout="column">
        <span>Upload photo fo your service</span>

        <input type="file" placeholder="Photo of your business">
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <a mat-button>Cancel</a>

        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </mat-card>
</div>
