<div fxLayout.gt-xs="row"
     fxLayoutWrap.gt-xs=""
     fxLayout.xs="column">
  <div fxFlex.gt-xs="0 1 33" (click)="onMoreInfo()">

    <div style="padding: 10% 10% 0 10%">
      <mat-card>

        <img mat-card-image
             src="https://cdn3.iconfinder.com/data/icons/simple-toolbar/512/add_plus_new_user_green_page_file_up_text-512.png"
        >
        <mat-card-content>
          <p>
            Click to add a new service.
          </p>
        </mat-card-content>
        <mat-card-header>
          <mat-card-title><b>Help your community by adding new services.</b></mat-card-title>

        </mat-card-header>
      </mat-card>
    </div>

  </div>
  <div fxFlex.gt-xs="0 1 33"
       *ngFor="let biz of businesses">

    <div style="padding: 10% 10% 0 10%">
      <app-service-info-min [business]="biz"></app-service-info-min>
    </div>

  </div>
</div>
