<div fxLayout='row' fxLayoutAlign="center stretch">

  <div fxLayout='column' fxLayoutGap="5px">
    <mat-card>
      <p>You ranked <b>Apadana Supermarket</b> as 4 star business</p>
      <span>See <a (click)="onMoreInfo()">details</a></span>
    </mat-card>

    <mat-card>
      <p>You commented on <b>Apadana Supermarket</b></p>
      <span>See <a (click)="onMoreInfo()">details</a></span>
    </mat-card>
    <mat-card *ngFor="let notif of  notifications">

      <p>{{notif.text}}</p>
      <span>See <a (click)="onMoreInfo()">details</a></span>
    </mat-card>

  </div>
</div>
