<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Subscribed List">
        <mat-card *ngFor="let notif of  subscribedList">
          <mat-card-content>
            <div fxLayout="" fxLayoutGap="5px">
              <div fxLayout="column">
                <span>{{notif.title}}</span>
                <span>{{notif.description}}</span>
              </div>


            </div>
          </mat-card-content>


        </mat-card>
      </mat-tab>
      <mat-tab label="Nearby Businesses">
        <mat-card *ngFor="let notif of  nearbyList">
          <mat-card-content>
            <div fxLayout="" fxLayoutGap="5px">
              <div fxLayout="column">
                <span>{{notif.title}}</span>
                <span>{{notif.description}}</span>
              </div>


            </div>
          </mat-card-content>


        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

