<div
  fxLayoutAlign=" stretch"

  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap.gt-xs=""
>

  <div fxFlex.gt-xs="20"
       fxFlex.xs=""
       fxLayout="column">

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="map" checked="true">
        <mat-icon>add_location</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>list</mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>

    <app-service-search></app-service-search>
  </div>


  <app-service-map *ngIf="group.value =='map'" fxFlex.gt-xs="80" fxFlex.xs=""></app-service-map>
  <app-service-list *ngIf="group.value =='list'" fxFlex.gt-xs="80" fxFlex.xs=""></app-service-list>


</div>
