<mat-form-field>
  <input matInput placeholder="Name" value="My name">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Phone" value="my phone">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Link" value="my link">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Address" value="my address">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Type" value="my type">
</mat-form-field>

<mat-form-field>
  <textarea matInput placeholder="Description" value="my description"></textarea>
</mat-form-field>

<div fxLayout="row" fxLayoutGap="10px">
  <a mat-button >Cancel</a>

  <button mat-raised-button color="primary">Save</button>
  <span >Approved: True</span>
</div>
