<mat-card>

  <img mat-card-image
       src="{{business?.photoUrl}}"
  >
  <mat-card-header>
    <mat-card-title><b>{{business?.name}}</b></mat-card-title>
    <mat-card-subtitle>{{business?.serviceType}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
        <mat-icon>phone</mat-icon>
        <span>{{business?.phone}}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
        <mat-icon>web</mat-icon>
        <a target="_blank" href="{{business?.website}}">{{business?.website}}</a>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="space-around center">
        {{business?.address}}

      </div>
      <a *ngIf="!disabledMoreInfo" (click)="onMoreInfo()">More...</a>
    </div>

  </mat-card-content>

</mat-card>
