<mat-toolbar color="primary">
  <div fxLayout="row"
       fxLayoutWrap=""
       fxHide
       fxShow.gt-xs>
    <a mat-button *ngIf="loggedIn" routerLink="my_business">My Business</a>
    <a mat-button *ngIf="loggedIn" routerLink="search">Search</a>

    <a mat-button *ngIf="loggedIn" routerLink="notifications">Notifications</a>

    <a mat-button *ngIf="loggedIn" routerLink="profile">Profile</a>
    <a mat-button *ngIf="loggedIn && admin" routerLink="admin">Admin Panel</a>
    <a mat-button  *ngIf="!loggedIn" routerLink="login">Login</a>
    <a mat-button *ngIf="loggedIn" routerLink=".">Log Out</a>
  </div>
  <div fxHide fxShow.xs>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <div fxLayout="column"
           fxLayoutAlign="none start" >
      <a mat-button *ngIf="loggedIn" routerLink="my_business">My Services</a>
      <a mat-button *ngIf="loggedIn" routerLink="search">Search</a>

      <a mat-button *ngIf="loggedIn" routerLink="notifications">Notifications</a>

      <a mat-button *ngIf="loggedIn" routerLink="profile">Profile</a>
      <a mat-button *ngIf="loggedIn && admin" routerLink="admin">Admin Panel</a>
      <a mat-button  *ngIf="!loggedIn" routerLink="login">Login</a>
      <a mat-button *ngIf="loggedIn" routerLink=".">Log Out</a>
      </div>
    </mat-menu>

  </div>
</mat-toolbar>
