
.div-wrapper {
  position:relative;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: antiquewhite;
  border-color: black;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(100vh - 100px);
}
