<div class="div-wrapper">
  <agm-map class="map"
           [latitude]="center.lat"
           [longitude]="center.lng"
           (centerChange)="mapCenterChange($event)"
           [zoom]="minZoomLevel"
           [minZoom]="minZoomLevel">
    <agm-marker *ngFor="let marker of services"
                [latitude]="marker.location.lat"
                [longitude]="marker.location.lon">
      <agm-info-window>
        <div fxLayout="column">
          <Strong><a (click)="onMoreInfo()">{{marker.name}}</a></Strong>
          <span>Score: {{marker.score}}</span>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>

</div>


