<mat-tab-group>
  <mat-tab label="Business">


    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter(bizDataSource, $event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="bizDataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="onBizEdit(element)" > {{element.name}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> Address</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.address}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="bizColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: bizColumns;"></mat-row>
      </mat-table>
    </div>


  </mat-tab>
  <mat-tab label="User">



    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter(userDataSource, $event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="userDataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="onUserEdit(element)" > {{element.firstName}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="userColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: userColumns;"></mat-row>
      </mat-table>
    </div>



  </mat-tab>
</mat-tab-group>
