<div style="padding: 10% 10% 10% 10%">

  <form fxLayout="column" #f="ngForm" (ngSubmit)="search()" >
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="searchParameters.name"/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Service" name="entityType" [(ngModel)]="searchParameters.serviceType">
        <mat-option *ngFor="let option of services"
                    [value]="option.value">
          {{ option.title }}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button mat-button>Clear</button>
      <button mat-raised-button color="primary" type="submit" >Search</button>
    </div>
  </form>
</div>
