<div fxLayout="column" fxLayoutGap="10px">
  <app-service-info-min [entity]="entity" [disabledMoreInfo]="true"></app-service-info-min>

  <form fxLayout="column" #f="ngForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <input matInput placeholder="Title" name="title"
             [(ngModel)]="reviewTitle"/>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <textarea matInput placeholder="Write your review"
                name="text"
                [(ngModel)]="reviewText"></textarea>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-select placeholder="Score"
                  name="score"
                  [(ngModel)]="reviewScore">
        <mat-option *ngFor="let score of scoreValues"
                    [value]="score">{{score}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button fxFlex="30" mat-raised-button color="primary" type="submit">Send</button>
  </form>

  <div fxLayout="column" fxLayoutGap="10px">

    <mat-card *ngFor="let review of reviews">
      <mat-card-header>
        <div mat-card-avatar
             style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;"></div>
        <mat-card-title>{{review.user.name}}</mat-card-title>
        <mat-card-subtitle>{{review.title}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout fxLayoutWrap="">
          <p fxFlex="100">{{review.text}}</p>
          <span> {{review.created}}</span>

       <!--   <div fxFlex="80"></div>-->
         <!-- <div fxFlex="20">
            <button mat-icon-button>
              <mat-icon>mood_bad</mat-icon>
            </button>
          </div>-->

        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
