<div fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>

      <mat-card-title>Apadana Supermarket</mat-card-title>
      <mat-card-subtitle>Supermartket</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <span>Full name: </span>
        <span>Type: </span>
        <span>Address: </span>
        <span>Phone: </span>
        <span>Website: </span>
      </div>
    </mat-card-content>

  </mat-card>

  <form fxLayout="column">

    <mat-form-field fxFlex="100">
      <textarea matInput placeholder="Write your review"></textarea>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-select placeholder="Score">
        <mat-option *ngFor="let item of [1,2,3,4,5]" value="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button fxFlex="30" mat-raised-button color="primary">Send</button>

  </form>

  <div fxLayout="column" fxLayoutGap="10px">

    <mat-card *ngFor="let k of [1,2,3,4]">
      <mat-card-header>
        <div mat-card-avatar
             style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;"></div>
        <mat-card-title>George</mat-card-title>
        <mat-card-subtitle>Melbourne, VIC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout fxLayoutWrap="">
          <p fxFlex="100">Awesome restaurant with friendly staff!</p>
          <div fxFlex="80"></div>
          <div fxFlex="20">
            <button  mat-icon-button>
              <mat-icon>mood_bad</mat-icon>
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
